<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crude Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!--Header-->
<header id = header>
<nav>
<div class="container">
<div class="text-center">
<a href="/" class="nav-brandtext-dark">User Management System</a>

</div>

</div>

</nav>

</header>

    <!--/Header-->

<!--main site-->

<main id="site-main">
<div class="container">
    <div class="box-nav d-flex-justify-between">
        <a href="/add-user" class="border-shadow">
            <span class="text-gradient">New User<i class="fa-duotone fa-user"></i></span> 

        </a>
    </div>
</div>

</main>
<!--/main site-->

</body>
</html>